.box {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-width: 140px;

  backdrop-filter: blur(4px);
  padding: calc(1vw);
  flex: 1;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: fadeInOp 0.8s;
}

@keyframes fadeIn {
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
  }
}
