/* // $gap: 4vh;
// $padding: 4vh;
// $color: #436369;

$bp: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1440px,
); */

.wrapper {
  padding: 2rem;
  background-color: #4800b3;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
  height: auto;
}

.box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: calc(1vw);
}

.city-name {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.weather-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-info {
  display: flex;
  flex-direction: column;
}
/* 
// @media (max-width: mobile) {
//   .content{
//      margin-left: 20px;
//   }
// }

// @media (max-width: tablet) {
//   .content{
//      margin-left: 10px;
//   }
// }

// @media (min-width: tablet) {
//   .content{
//      margin-left: 10px;
//   }
// } */
