// $gap: 4vh;
// $padding: 4vh;
// $color: #436369;

$bp: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1440px,
);

.wrapper {
  background-color: silver;
  padding: 2rem;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
  height: auto;
  
}

.box {
  display:flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  background-color: red;
  min-width: 200px;
  //padding-right: calc(8px + 1.5625vw);
}

// @media (max-width: mobile) {
//   .content{
//      margin-left: 20px;
//   }
// }

// @media (max-width: tablet) {
//   .content{
//      margin-left: 10px;
//   }
// }

// @media (min-width: tablet) {
//   .content{
//      margin-left: 10px;
//   }
// }
