.city-container {
  height: 100%;
  background-color: #160e1d;
  font-size: 12px;
  color: white;
}
.city-info-wrapper {
  background-color: #160e1d;
  height: 100%;
}

.city-info-wrapper {
  display: flex;
  padding: 4em;
  gap: 5%;
}

#map {
  max-height: 100%;
  display: inline;
  min-height: 200px;
}

.summary-wrapper {
  font-family: "Open Sans", sans-serif;
  text-indent: 50px;
  line-height: 1.6;
  font-size: 14px;
}
