#map {
  max-height: 100%;
  display: inline;
  min-height: 400px;
}

.country-label {
  font-family: "Helvetica";
  font-size: 0.45px;
  font-weight: 600;
  text-anchor: middle;
  fill: white;
  /* stroke: black;
  stroke-width: 0.05px; */
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.marker {
  fill: #31558d;
  fill-opacity: 0.75;
  transition: all 0.2s ease-in-out;
}
